@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.board--default {
    max-width: rem(1020);
    margin: 0 auto;
    .board__top {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0 rem(15);
        margin-bottom: rem(20);
    }
    .board__body {
        border-top: 2px solid $color-black;
        &:has(.alert) {
            border-top: none;
        }
    }
    .board-form {
        flex: 1;
        &__wrapper {
            display: flex;
            justify-content: flex-end;
            gap: 0 rem(5);
            input {
                width: 100%;
                max-width: rem(200);
                height: rem(40);
                padding: rem(10) rem(20);
                border-radius: rem(5);
                border: 1px solid #ccc;
                font-family: $font-noto-sans-kr;
                font-size: rem(16);
                line-height: 1;
                &:focus {
                    border-color: $color-primary;
                    outline: none;
                }
            }
            .btn-submit {
                display: block;
                padding: rem(12) rem(15);
                border-radius: rem(5);
                background-color: $color-tab-secondary;
                font-family: $font-nanum-square;
                font-size: rem(16);
                line-height: 1;
                color: $color-black;
                text-align: center;
                transition: all 0.3s ease;
                &:hover {
                    background-color: $color-tab-secondary-hover;
                }
            }
        }
    }
    .board__list {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(80);
        &.board__list--important {
            margin-bottom: 0;
            .board-item {
                &:last-child {
                    .board-item__link {
                        border-bottom-color: $color-black;
                    }
                }
                .board-item__link {
                    background-color: #f9f9f9;
                }
            }
        }
        .board-item {
            .board-item__link {
                min-height: rem(70);
                display: flex;
                align-items: center;
                gap: 0 rem(20);
                padding: rem(15) rem(80) rem(15) 0;
                border-bottom: 1px solid #dddddd;
                background-image: url(../images/board/default/notice-rarr-g.png);
                background-size: rem(40);
                background-repeat: no-repeat;
                background-position: calc(100% - rem(20)) 50%;
                font-family: $font-noto-sans-kr;
                font-size: rem(16);
                line-height: lh(26);
                &:hover,
                &:focus,
                &:active {
                    background-image: url(../images/board/default/notice-rarr-b.png);
                    border-bottom-color: $color-black;
                }
                .board-item__date {
                    width: rem(150);
                    flex-shrink: 0;
                    text-align: center;
                }
                .board-item__title {
                    width: calc(100% - rem(170));
                    flex: 1;
                    &:has(.label) {
                        display: flex;
                        gap: 0 rem(5);
                        p {
                            flex: 1;
                        }
                    }
                    p {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .board--default {
        .board__top {
            flex-direction: column-reverse;
            align-items: flex-end;
            gap: rem(10) 0;
            margin-bottom: rem(15);
        }
        .board-form {
            &__wrapper {
                input {
                    width: 100%;
                    max-width: rem(150);
                    height: rem(30);
                    padding: rem(8) rem(15);
                    font-size: rem(14);
                }
                .btn-submit {
                    padding: rem(8) rem(12);
                    font-size: rem(14);
                }
            }
        }
        .board__list {
            display: flex;
            flex-direction: column;
            margin-bottom: rem(40);
            .board-item {
                .board-item__link {
                    min-height: rem(70);
                    flex-direction: column;
                    align-items: flex-start;
                    gap: rem(10) 0;
                    padding: rem(20);
                    background-image: none;
                    font-size: rem(14);
                    line-height: lh(24);
                    &:hover,
                    &:focus,
                    &:active {
                        background-image: none;
                        .board__item-date {
                            background-image: url(../images/board/default/notice-rarr-b.png);
                        }
                    }
                    .board-item__date {
                        width: 100%;
                        padding-right: rem(40);
                        background-image: url(../images/board/default/notice-rarr-g.png);
                        background-size: rem(40);
                        background-repeat: no-repeat;
                        background-position: 100% 50%;
                        text-align: left;
                        position: relative;
                    }
                    .board-item__title {
                        width: 100%;
                        flex: auto;
                    }
                }
            }
        }
    }
}
