@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.board--modal {
    .board__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        margin-bottom: rem(80);
        background-color: #eaeaea;
        border: 1px solid #eaeaea;
    }
    .board-item {
        background-color: $color-white;
        &__link {
            height: rem(230);
            display: flex;
            gap: rem(20);
            padding: rem(10);
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid transparent;
                position: absolute;
                top: -1px;
                left: -1px;
                transition: all 0.3s ease;
            }
            &:hover {
                &::before {
                    border-color: $color-black;
                }
            }
        }
        &__thumb {
            width: rem(150);
            height: 100%;
            flex-shrink: 0;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-top {
                padding-bottom: rem(15);
                position: relative;
                &::before {
                    content: "";
                    width: rem(35);
                    height: rem(3);
                    background-color: $color-black;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        &__title {
            margin-bottom: rem(10);
            font-weight: 700;
            font-size: rem(26);
            line-height: lh(36);
            &--sub {
                font-size: rem(18);
                line-height: lh(28);
                @include multi-ellipsis(2);
            }
        }
        &__text {
            font-size: rem(12);
            line-height: rem(22);
            color: #c8c8c8;
        }
    }
}

@media (max-width: 1140px) {
    .board--modal {
        .board__list {
            max-width: rem(500);
            grid-template-columns: repeat(1, 1fr);
            margin: 0 auto rem(80);
        }
    }
}

@media (max-width: 768px) {
    .board--modal {
        .board__list {
            max-width: rem(400);
            margin: 0 auto rem(40);
        }
        .board-item {
            background-color: $color-white;
            &__link {
                height: rem(180);
                gap: rem(10);
            }
            &__thumb {
                width: rem(130);
            }
            &__content {
                &-top {
                    &::before {
                        width: rem(25);
                    }
                }
            }
            &__title {
                margin-bottom: rem(5);
                font-size: rem(20);
                line-height: lh(30);
                &--sub {
                    font-size: rem(14);
                    line-height: lh(24);
                }
            }
            &__text {
                font-size: rem(10);
                line-height: rem(20);
            }
        }
    }
}
