@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.board--slide {
    .board-read {
        display: flex;
        gap: rem(50);
        padding: rem(30) 0 rem(40);
        border-top: rem(2) solid #555555;
        border-bottom: 1px solid #938776;
        &__thumb {
            width: rem(260);
        }
        &__body {
            flex: 1;
            &-top {
                padding-right: rem(50);
                padding-bottom: rem(20);
                position: relative;
                .category {
                    margin-bottom: rem(5);
                }
                .btn-list {
                    height: calc(100% - rem(20));
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &-content {
                border-top: 1px solid #938776;
            }
        }
        &__title {
            font-weight: 700;
            font-size: rem(20);
            line-height: lh(30);
        }
        &__btns {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: rem(6);
            padding-top: rem(45);
        }

        .content-list {
            &__item {
                padding: rem(25) 0;
                border-bottom: 1px solid #eaeaea;
                &:last-child {
                    border-bottom: none;
                }
                &.content-list__item--flex {
                    display: flex;
                    gap: 0 rem(31);
                    padding: rem(18) 0;
                    font-size: rem(14);
                    line-height: lh(24);
                    .content-list__title {
                        color: $color-primary;
                        position: relative;
                        &::after {
                            content: "";
                            width: 1px;
                            height: rem(14);
                            background-color: #dcdcdc;
                            position: absolute;
                            top: 50%;
                            right: rem(-16);
                            transform: translateY(-50%);
                        }
                    }
                    .content-list__desc {
                        flex: 1;
                    }
                }
                &.content-list__item--slide {
                    padding: rem(20) 0 0;
                    .content-list__title {
                        margin-bottom: rem(15);
                        font-size: rem(18);
                        line-height: lh(28);
                        color: $color-primary;
                    }
                }
            }
        }
    }
    .board-slide {
        max-width: rem(690);
        margin: 0 auto;
        padding-bottom: rem(65);
        border-bottom: 1px solid #938776;
        &__btns {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: rem(6);
            padding-top: rem(45);
        }
    }
    .content-swiper {
        .swiper-slide {
            width: auto !important;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &.main-swiper {
            margin-bottom: rem(25);
            position: relative;
            .swiper-slide {
                width: 100% !important;
                padding-top: 75.07%;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .swiper__btns {
                display: flex;
                gap: 0 1px;
                background-color: $color-black;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 60;
                .btn-swiper {
                    width: rem(50);
                    height: rem(50);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-black;
                    transition: background-color 0.3s ease;
                    position: relative;
                    &::after {
                        content: "";
                        width: 1px;
                        height: rem(40);
                        background-color: $color-white;
                        position: absolute;
                        top: 50%;
                        right: -1px;
                        transform: translateY(-50%);
                    }
                    &:hover {
                        background-color: $color-primary;
                    }
                    svg {
                        width: rem(9);
                        height: rem(15);
                        fill: $color-white;
                        transition: fill 0.3s ease;
                    }
                }
            }
        }
        &.thumbs-swiper {
            .swiper-slide {
                max-width: calc((100% - rem(48)) / 5);
                width: 100% !important;
                height: rem(75);
                margin-right: rem(12);
                cursor: pointer;
                opacity: 0.4;
                transition: opacity 0.3s ease;
                &.swiper-slide-thumb-active {
                    opacity: 1;
                }
            }
        }
    }
}

.board--slide-1 {
    .board__list {
        max-width: rem(920);
        display: flex;
        flex-wrap: wrap;
        gap: rem(30) rem(40);
        margin: 0 auto rem(80);
    }
    .board-item {
        width: rem(440);
        &__link {
            height: 100%;
            display: flex;
            flex-direction: column;
            &:hover {
                .board-item__thumb {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        &__thumb {
            height: rem(200);
            margin-bottom: rem(20);
            background-color: #bcbcbc;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                background-image: url(../images/board/slide-board-1/icon-search.png);
                background-size: rem(42);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
            }
        }
        &__content {
            flex: 1;
        }
        &__title {
            margin-bottom: rem(5);
            font-size: 0;
            p {
                font-size: rem(24);
                line-height: lh(26);
            }
            .label {
                margin-right: rem(5);
            }
        }
        &__info {
            margin-bottom: rem(10);
            font-size: rem(13);
            line-height: lh(23);
            color: #c8c8c8;
        }
        &__desc {
            flex: 1;
            margin-bottom: rem(20);
            font-size: rem(14);
            line-height: lh(24);
            @include multi-ellipsis(2);
        }
    }
}

.board--slide-2 {
    .board__list {
        max-width: rem(860);
        display: flex;
        flex-wrap: wrap;
        gap: rem(40);
        margin: 0 auto rem(80);
    }
    .board-item {
        width: rem(260);
        &__link {
            display: block;
            .category {
                margin-bottom: rem(5);
            }
        }
        &__thumb {
            height: rem(350);
            margin-bottom: rem(15);
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                background-image: url(../images/board/slide-board-2/icon-search.png);
                background-size: rem(42);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
            }
            &:hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }
        }
        &__title {
            font-size: rem(16);
            line-height: lh(26);
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__info {
            font-size: rem(12);
            line-height: lh(22);
            color: $color-primary;
        }
    }
}

@media (max-width: 1054px) {
    .board--slide {
        .board-read {
            max-width: rem(690);
            flex-direction: column;
            margin: 0 auto;
            &__body {
                flex: auto;
                &-top {
                    padding: rem(20) rem(50) rem(20) 0;
                    border-top: 1px solid #938776;
                    .btn-list {
                        height: 100%;
                    }
                }
            }
        }
    }

    .board--slide-1 {
        .board__list {
            max-width: rem(440);
        }
        .board__item {
            width: 100%;
        }
    }
}

@media (max-width: 980px) {
    .board--slide-2 {
        .board__list {
            max-width: rem(560);
        }
    }
}

@media (max-width: 768px) {
    .board--slide {
        .board-read {
            gap: rem(30) 0;
            padding: rem(20) 0 rem(30);
            &__thumb {
                width: rem(210);
            }
            &__body {
                &-top {
                    padding: rem(15) rem(40) rem(15) 0;
                }
            }
            &__title {
                font-size: rem(16);
                line-height: lh(26);
            }
            &__btns {
                padding-top: rem(35);
            }

            .content-list {
                &__item {
                    padding: rem(25) 0;
                    border-bottom: 1px solid #eaeaea;
                    &:last-child {
                        border-bottom: none;
                    }
                    &.content-list__item--flex {
                        flex-direction: column;
                        gap: rem(5) 0;
                        padding: rem(13) 0;
                        .content-list__title {
                            &::after {
                                display: none;
                            }
                        }
                        .content-list__desc {
                            flex: auto;
                        }
                    }
                    &.content-list__item--slide {
                        padding: rem(15) 0 0;
                        .content-list__title {
                            margin-bottom: rem(15);
                            font-size: rem(16);
                            line-height: lh(26);
                        }
                    }
                }
            }
        }
        .board-slide {
            padding-bottom: rem(45);
            &__btns {
                padding-top: rem(35);
            }
        }
        .content-swiper {
            &.main-swiper {
                margin-bottom: rem(20);
            }
            &.thumbs-swiper {
                .swiper-slide {
                    max-width: calc((100% - rem(36)) / 4);
                    margin-right: rem(10);
                }
            }
        }
    }

    .board--slide-1 {
        .board__list {
            max-width: rem(340);
            margin-bottom: 0 auto rem(40);
        }
        .board-item {
            &__thumb {
                height: rem(160);
                margin-bottom: rem(15);
            }
            &__title {
                p {
                    font-size: rem(18);
                    line-height: lh(24);
                }
            }
            &__info {
                margin-bottom: rem(5);
                font-size: rem(12);
                line-height: lh(22);
            }
            &__desc {
                margin-bottom: rem(15);
                font-size: rem(13);
                line-height: lh(23);
            }
            &__more {
                img {
                    width: rem(35);
                }
            }
        }
    }

    .board--slide-2 {
        .board__list {
            max-width: rem(430);
            gap: rem(30);
            margin: 0 auto rem(40);
        }
        .board-item {
            width: rem(200);
            &__thumb {
                height: rem(290);
                margin-bottom: rem(15);
                &::before {
                    background-size: rem(32);
                }
            }
            &__title {
                font-size: rem(14);
                line-height: lh(24);
            }
            &__info {
                font-size: rem(11);
                line-height: lh(21);
            }
        }
    }
}

@media (max-width: 520px) {
    .board--slide {
        .content-swiper {
            &.thumbs-swiper {
                .swiper-slide {
                    max-width: calc((100% - rem(20)) / 3);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .board--slide-2 {
        .board__list {
            max-width: rem(200);
        }
    }
}
