@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.board--square-1 {
    max-width: rem(844);
    margin: 0 auto;
    .board__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1px;
        margin-bottom: rem(80);
        background-color: #eaeaea;
        border: 1px solid #eaeaea;
    }
    .board-item {
        background-color: $color-white;
        &__link {
            height: rem(280);
            display: flex;
            flex-direction: column;
            gap: rem(10) 0;
            padding: rem(25) rem(30);
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid transparent;
                position: absolute;
                top: -1px;
                left: -1px;
                transition: all 0.3s ease;
            }
            &:hover {
                &::before {
                    border-color: $color-black;
                }
            }
        }
        &__title {
            font-size: rem(16);
            line-height: lh(26);
            .label {
                margin-right: rem(5);
            }
        }
        &__info {
            font-size: rem(12);
            line-height: lh(22);
            color: #c8c8c8;
        }
        &__content {
            flex: 1;
        }
        &__more {
            display: inline-flex;
            align-items: center;
            gap: 0 rem(5);
            font-size: rem(13);
            line-height: 1;
        }
    }
}

.board--square-2 {
    max-width: rem(844);
    margin: 0 auto;
    .board__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1px;
        margin-bottom: rem(80);
        background-color: #eaeaea;
        border: 1px solid #eaeaea;
    }
    .board-item {
        background-color: $color-white;
        &__link {
            height: rem(280);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem(10) 0;
            padding: rem(25) rem(30);
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid transparent;
                position: absolute;
                top: -1px;
                left: -1px;
                transition: all 0.3s ease;
            }
            &:hover {
                &::before {
                    border-color: $color-black;
                }
            }
        }
        &__top {
            padding-bottom: rem(20);
            position: relative;
            &::before {
                content: "";
                width: rem(45);
                height: rem(3);
                background-color: $color-black;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &__title {
            margin-bottom: rem(10);
            font-weight: 700;
            font-size: rem(26);
            line-height: 1;
            .label {
                margin-right: rem(5);
            }
            &--sub {
                font-size: rem(16);
                line-height: lh(26);
            }
        }
        &__more {
            display: inline-flex;
            align-items: center;
            gap: 0 rem(5);
            font-size: rem(13);
            line-height: 1;
        }
    }
}

@media (max-width: 980px) {
    .board--square-1,
    .board--square-2 {
        max-width: rem(563);
        .board__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .board--square-1 {
        max-width: rem(483);
        .board__list {
            grid-template-columns: repeat(2, 1fr);
        }
        .board-item {
            &__link {
                height: rem(240);
                padding: rem(15) rem(20);
            }
            &__title {
                font-size: rem(14);
                line-height: lh(24);
            }
            &__info {
                font-size: rem(10);
                line-height: lh(20);
            }
            &__more {
                font-size: rem(11);
            }
        }
    }

    .board--square-2 {
        max-width: rem(483);
        .board__list {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: rem(40);
        }
        .board-item {
            &__link {
                height: rem(240);
                padding: rem(15) rem(20);
            }
            &__top {
                &::before {
                    width: rem(25);
                }
            }
            &__title {
                font-size: rem(20);
                line-height: lh(24);
                &--sub {
                    font-size: rem(14);
                    line-height: lh(24);
                }
            }
            &__more {
                font-size: rem(11);
            }
        }
    }
}

@media (max-width: 540px) {
    .board--square-1,
    .board--square-2 {
        max-width: none;
        .board__list {
            max-width: rem(242);
            margin: 0 auto rem(40);
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
