@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.af-file {
    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(5) 0;
        .btn-download {
            width: rem(40);
            height: rem(34);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: rem(4);
            background-color: $color-primary;
            font-size: rem(20);
            color: $color-white;
            &:hover,
            &:focus,
            &:active {
                background-color: $color-primary-hover;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 0 rem(7);
    }
    &__content {
        width: calc(100% - rem(41));
        font-family: $font-noto-sans-kr;
        line-height: 1;
        &-title {
            margin-bottom: rem(5);
            font-size: rem(14);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-info {
            font-size: rem(12);
        }
    }
}

@media (max-width: 768px) {
    .af-file {
        &__item {
            display: flex;
            align-items: center;
            gap: 0 rem(4);
        }
        &__content {
            width: calc(100% - rem(41));
            &-title {
                margin-bottom: rem(5);
                font-size: rem(12);
            }
            &-info {
                font-size: rem(10);
            }
        }
    }
}
