@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
    display: inline-block;
    padding: rem(10);
    border-radius: rem(3);
    font-size: rem(14);
    line-height: rem(16);
    &.btn-primary {
        background-color: $color-primary;
        color: $color-white;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: $color-primary-hover;
        }
    }
    &.btn-default {
        background-color: $color-default;
        color: $color-white;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: $color-default-hover;
        }
    }
    &.btn-more {
        width: rem(46);
        height: rem(50);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: rem(2);
        &:hover {
            svg {
                fill: $color-primary;
            }
        }
        svg {
            width: rem(39);
            height: rem(38);
            fill: $color-black;
            transition: fill 0.3s ease;
        }
    }
    &.btn-close {
        &--1 {
            width: rem(70);
            height: rem(70);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            &:hover {
                svg {
                    fill: $color-primary;
                }
            }
            svg {
                width: rem(35);
                height: rem(35);
                fill: $color-black;
                transition: fill 0.3s ease;
            }
        }
    }
}

@media (max-width: 768px) {
    .btn {
        &.btn-more {
            width: rem(36);
            height: rem(34);
            svg {
                width: rem(23);
                height: rem(22);
            }
        }
        &.btn-close {
            &--1 {
                width: rem(50);
                height: rem(50);
                svg {
                    width: rem(25);
                    height: rem(25);
                }
            }
        }
    }
}
