@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.label {
    &.label--board {
        width: fit-content;
        height: fit-content;
        display: inline-block;
        padding: rem(7) rem(12);
        border-radius: rem(5);
        font-family: $font-nanum-square;
        font-size: rem(12);
        line-height: 1;
        color: $color-white;
    }
    &--primary {
        background-color: $color-primary;
    }
    &--success {
        background-color: $color-success;
    }
    &--warning {
        background-color: $color-warning;
    }
    &--danger {
        background-color: $color-danger;
    }
}

@media (max-width: 768px) {
    .label {
        &.label--board {
            padding: rem(7) rem(10);
            border-radius: rem(4);
            font-size: rem(10);
        }
    }
}
