@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.label {
    &.label--board {
        width: fit-content;
        height: fit-content;
        display: inline-block;
        padding: rem(7) rem(12);
        border-radius: rem(5);
        font-family: $font-nanum-square;
        font-size: rem(12);
        line-height: 1;
        color: $color-white;
    }
    &.label--outline {
        border: 1px solid $color-primary;
        color: $color-primary;
    }
    &.label--primary {
        background-color: $color-primary;
    }
    &.label--success {
        background-color: $color-success;
    }
    &.label--warning {
        background-color: $color-warning;
    }
    &.label--danger {
        background-color: $color-danger;
    }
}

.category {
    display: inline-block;
    border: 1px solid #938776;
    background-color: #938776;
    padding: rem(6) rem(10);
    font-size: rem(12);
    line-height: 1;
    color: $color-white;
    &.category--round {
        border-radius: rem(100);
    }
    &.category--outline {
        background-color: $color-white;
        color: #938776;
    }
}

@media (max-width: 768px) {
    .label {
        &.label--board {
            padding: rem(7) rem(10);
            border-radius: rem(4);
            font-size: rem(10);
        }
    }
}
