@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.modal {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    padding: rem(50) rem(60);
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    &.active {
        display: flex;
    }
    &__inner {
        width: 100%;
        max-width: rem(600);
        padding: rem(25);
        border-radius: rem(13);
        background-color: $color-white;
        position: relative;
        overflow: hidden;
    }
    &__top {
        padding-bottom: rem(20);
        border-bottom: rem(2) solid #555555;
    }
    &__body {
        height: calc(100% - rem(103));
        padding: rem(20) 0 rem(30);
        position: relative;
        &::before {
            content: "";
            width: 100%;
            height: rem(20);
            background-color: $color-white;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: "";
            width: 100%;
            height: rem(30);
            background-color: $color-white;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        padding-top: rem(20);
        border-top: 1px solid #dbd7d1;
    }
    &__title {
        font-size: rem(22);
        line-height: 1;
        b {
            font-weight: 700;
        }
    }
    &__close {
        &--icon {
            width: rem(45);
            height: rem(45);
            border-radius: 0 0 0 rem(13);
            background-image: url(../images/sub/modal-close.png);
            background-size: rem(12);
            background-repeat: no-repeat;
            background-position: center center;
            background-color: $color-primary;
            position: absolute;
            top: 0;
            right: 0;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: $color-primary-hover;
            }
        }
        &--text {
            min-width: rem(120);
            display: inline-block;
            padding: rem(12) rem(10);
            border-radius: rem(5);
            background-color: $color-primary;
            font-size: rem(14);
            line-height: 1;
            text-align: center;
            color: $color-white;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: $color-primary-hover;
            }
        }
    }
}

.modal-content {
    height: 100%;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &.active {
        display: block;
    }
    &__top {
        padding-bottom: rem(20);
        border-bottom: 1px solid #dddddd;
    }
    .modal-content__title {
        margin-bottom: rem(10);
        font-size: rem(32);
        line-height: lh(42);
    }
    .modal-content__summary {
        margin-bottom: rem(10);
        font-size: rem(14);
        line-height: lh(24);
    }
    .modal-content__desc {
        margin-top: rem(20);
        font-size: rem(14);
        line-height: lh(24);
    }
    .modal-list {
        &__item {
            font-size: rem(14);
            line-height: lh(22);
        }
    }
    img {
        width: 100%;
    }
}

.modal-content--flex {
    height: 100%;
    display: none;
    gap: rem(20);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &.active {
        display: flex;
    }
    .modal-content__bg {
        width: rem(200);
    }
    .modal-content__img {
        background-color: $color-primary;
        &:not(:has(img)) {
            height: rem(280);
        }
        img {
            display: block;
        }
    }
    .modal-content__desc {
        flex: 1;
    }
    .modal-content__title {
        font-size: rem(24);
        line-height: lh(34);
        margin-bottom: rem(15);
        color: $color-primary;
    }
    .modal-content__title--sub {
        font-size: rem(16);
        line-height: 1;
        margin-bottom: rem(10);
    }
    .modal-content__text {
        font-size: rem(14);
        line-height: lh(24);
    }
}

@media (max-height: 300px) {
    .modal {
        padding: rem(20) rem(60);
    }
}

@media (max-width: 768px) {
    .modal {
        padding: rem(40) rem(20);
        &__inner {
            max-width: rem(450);
            padding: rem(15);
            border-radius: rem(13);
        }
        &__top {
            padding-bottom: rem(15);
        }
        &__body {
            height: calc(100% - rem(103));
            padding: rem(15) 0 rem(20);
            position: relative;
            &::before {
                height: rem(15);
            }
            &::after {
                height: rem(20);
            }
        }
        &__footer {
            padding-top: rem(15);
        }
        &__title {
            font-size: rem(20);
        }
        &__close {
            &--icon {
                width: rem(40);
                height: rem(40);
                background-size: rem(10);
            }
            &--text {
                min-width: rem(100);
            }
        }
    }

    .modal-content {
        &__top {
            padding-bottom: rem(15);
        }
        .modal-content__title {
            font-size: rem(20);
            line-height: lh(30);
        }
        .modal-content__desc {
            margin-top: rem(15);
        }
    }

    .modal-content--flex {
        height: 100%;
        display: none;
        flex-direction: column;
        gap: rem(15);
        .modal-content__bg {
            width: rem(150);
        }
        .modal-content__img {
            &:not(:has(img)) {
                height: rem(230);
            }
        }
        .modal-content__desc {
            flex: auto;
        }
        .modal-content__title {
            font-size: rem(20);
            line-height: lh(30);
            margin-bottom: rem(10);
        }
        .modal-content__title--sub {
            font-size: rem(14);
        }
    }
}
