@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.table-people {
    width: 100%;
    height: 100%;
    td {
        padding: rem(15) rem(10);
        font-size: rem(14);
        line-height: lh(24);
        vertical-align: middle;
        border-bottom: 1px solid #eaeaea;
        &:nth-child(1),
        &:nth-child(2) {
            color: #888888;
        }
        &.last {
            border-bottom: transparent;
        }
        &.bg {
            background-color: #f4f4f4;
            text-align: center;
        }
        p {
            margin-bottom: rem(10);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
