@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.table-people {
    width: 100%;
    height: 100%;
    td {
        padding: rem(15) rem(10);
        font-size: rem(14);
        line-height: lh(24);
        vertical-align: middle;
        &:nth-child(1),
        &:nth-child(2) {
            color: #888888;
        }
        &.bottom {
            border-bottom: 1px solid #eaeaea;
        }
        &.bg {
            background-color: #f4f4f4;
            text-align: center;
        }
    }
}

.table-border {
    &--1 {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
            padding: rem(15);
            border: 1px solid #dcdcdc;
            font-size: rem(14);
            line-height: lh(24);
        }
        th {
            background-color: #f4f4f4;
            &.top {
                border-top: rem(2) solid #555;
            }
            &.first {
                border-left: none;
            }
            &.last {
                border-right: none;
            }
            &.bottom {
                border-bottom-color: #938776;
            }
        }
        td {
            &.top {
                border-top: none;
            }
            &.first {
                border-left: none;
            }
            &.last {
                border-right: none;
            }
            &.bottom {
                border-bottom-color: #444444;
            }
        }
    }
}

@media (max-width: 1120px) {
    .table-people {
        border-top: 1px solid #eaeaea;
    }
}
