@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

img {
    max-width: 100%;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    &.is-sitemap-open {
        overflow: hidden;
    }
}

#wrap {
    overflow: hidden;
    position: relative;
}
