@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

* {
    box-sizing: border-box;
}

html {
    &::before {
        content: url("/resources/front/images/sub/snb-home-h.png");
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}

img {
    max-width: 100%;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    &.is-sitemap-open {
        overflow: hidden;
    }
}

#wrap {
    overflow: hidden;
    position: relative;
}

.text--primary {
    color: $color-primary !important;
}

.text--center {
    text-align: center !important;
}

.text--left {
    text-align: left !important;
}

.text--right {
    text-align: right !important;
}

.dot-indent {
    padding-left: rem(12);
    text-indent: rem(-12);
}

.line-indent {
    padding-left: rem(8);
    text-indent: rem(-8);
}

.num-indent {
    display: flex;
    .num {
        flex-shrink: 0;
    }
    .text {
        flex: 1;
    }
}
