@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: $font-nanum-gothic;
    font-size: rem(16);
    line-height: lh(24);
    letter-spacing: -0.06em;
    word-break: keep-all;
}

p {
    margin: 0;
    b {
        font-weight: 700;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
