@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.site-body {
    &--main {
        padding-bottom: rem(70);
    }
}

@media (max-width: 768px) {
    .site-body {
        &--main {
            padding-bottom: rem(45);
        }
    }
}
