@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.site-footer {
    &__inner {
        max-width: rem(1700);
        margin: 0 auto;
        padding: 0 rem(60);
        & > *:first-child {
            border-top: rem(3) solid $color-black;
        }
    }
    &__content {
        padding: rem(50) 0 rem(75);
        border-bottom: 1px solid $color-black;
    }
    &__row {
        &:not(:last-child) {
            margin-bottom: rem(22);
        }
        &.site-footer__row--flex {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: rem(14) rem(20);
        }
    }
    &__brand {
        font-family: $font-nanum-square;
        font-weight: 300;
        font-size: rem(24);
        line-height: lh(36);
        text-transform: uppercase;
        strong {
            font-weight: 800;
        }
    }
    &__info {
        * {
            font-family: $font-nanum-square;
            font-size: rem(16);
            line-height: lh(28);
        }
        &-wrap {
            display: flex;
            gap: 0 rem(16);
        }
        &-title {
            margin-bottom: rem(10);
        }
    }
    &__copyright {
        padding: rem(20) 0 rem(58);
        font-family: $font-nanum-square;
        font-size: rem(16);
        line-height: 1;
        text-align: right;
    }
}

.footer-menu {
    padding: 0 rem(20);
    border-bottom: 1px solid $color-black;
    font-size: 0;
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &__item {
        display: inline-block;
    }
    &__link {
        display: block;
        padding: rem(30) rem(21);
        font-family: $font-nanum-square;
        font-size: rem(16);
        line-height: 1;
        color: $color-black;
        transition: color 0.3s ease;
        &:hover {
            color: $color-primary;
        }
    }
}

.icon_link-list {
    display: flex;
    gap: rem(6);
    justify-content: flex-end;
    &__item {
        width: rem(38);
        height: rem(38);
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        &--facebook {
            background-image: url(../images/facebook-round.png);
        }
        &--naver {
            background-image: url(../images/cafe-round.png);
        }
    }
}

@media (max-width: 1100px) {
    .site-footer {
        &__brand {
            width: 100%;
        }
    }

    .icon_link-list {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .site-footer {
        &__inner {
            padding: 0 rem(20);
        }
        &__content {
            padding: rem(25) 0 rem(40);
        }
        &__row {
            &:not(:last-child) {
                margin-bottom: rem(17);
            }
            &.site-footer__row--flex {
                gap: rem(10) rem(15);
            }
        }
        &__brand {
            font-size: rem(18);
            line-height: lh(28);
        }
        &__info {
            * {
                font-size: rem(12);
                line-height: lh(20);
            }
            &-wrap {
                gap: 0 rem(16);
            }
            &-title {
                margin-bottom: rem(5);
            }
        }
        &__copyright {
            padding: rem(15) 0 rem(48);
            font-size: rem(12);
        }
    }

    .footer-menu {
        padding: 0 rem(10);
        &__link {
            padding: rem(18) rem(16);
            font-size: rem(14);
        }
    }

    .icon_link-list {
        &__item {
            width: rem(33);
            height: rem(33);
        }
    }
}
