@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.site-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 rem(60);
    position: absolute;
    top: rem(50);
    left: 0;
    z-index: 99;
    &.lnb-over {
        .site-header__bg {
            transform: scaleY(1);
        }
        .lnb-list--depth-2 {
            transform: scaleY(1);
            opacity: 1;
        }
    }
    & > *:not(.site-header__bg) {
        position: relative;
        z-index: 100;
    }
    &__logo {
        width: rem(294);
        height: rem(56);
        flex-shrink: 0;
        a {
            width: 100%;
            height: 100%;
            display: block;
            background-image: url(../images/site-logo.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__lnb {
        flex: 1;
    }
    &__gnb {
        margin-right: rem(-12);
    }
    &__bg {
        width: 100%;
        height: rem(220);
        background-color: $color-primary;
        opacity: 0.8;
        position: absolute;
        top: calc(100% + rem(10));
        left: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease;
        z-index: 99;
    }
}

.lnb-list {
    display: flex;
    justify-content: center;
    & > .lnb-list__item {
        width: fit-content;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        &.active {
            & > .lnb-list__item-link {
                color: $color-primary;
                span {
                    border-color: $color-primary;
                }
            }
        }
        & > .lnb-list__item-link {
            display: block;
            padding: rem(16) rem(26);
            font-family: $font-nanum-square;
            font-weight: 700;
            font-size: rem(18);
            line-height: 1;
            text-align: center;
            color: $color-white;
            transition: color 0.3s ease;
            span {
                display: block;
                padding-bottom: rem(4);
                border-bottom: rem(2) solid transparent;
                transition: border-color 0.3s ease;
            }
        }
    }
    &--depth-2 {
        min-width: 100%;
        width: fit-content;
        padding: rem(30) 0;
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition:
            transform 0.3s ease,
            opacity 0.3s ease;
        & > .lnb-list__item {
            & > .lnb-list__item-link {
                display: block;
                padding: rem(5) 0;
                font-family: $font-nanum-square;
                font-size: rem(16);
                line-height: 1;
                text-align: center;
                color: #dac8b7;
                transition: color 0.3s ease;
                &:hover {
                    color: $color-white;
                }
            }
        }
    }
}

.gnb-list {
    display: flex;
    &__item {
        .btn {
            width: rem(52);
            height: rem(56);
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                svg {
                    fill: $color-primary;
                }
            }
            svg {
                fill: $color-white;
                transition: fill 0.3s ease;
            }
            &.btn--search {
                svg {
                    width: rem(29);
                    height: rem(29);
                }
            }
            &.btn--sitemap {
                svg {
                    width: rem(28);
                    height: rem(25);
                }
            }
        }
    }
}

@media (max-width: 1310px) {
    .site-header {
        justify-content: space-between;
        &__lnb {
            display: none;
        }
        &__bg {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .site-header {
        padding: 0 rem(20);
        top: rem(30);
        &__logo {
            width: rem(209);
            height: rem(40);
        }
        &__gnb {
            margin-right: rem(-11);
        }
    }

    .gnb-list {
        display: flex;
        &__item {
            .btn {
                width: rem(44);
                height: rem(55);
                &.btn--search {
                    svg {
                        width: rem(22);
                        height: rem(22);
                    }
                }
                &.btn--sitemap {
                    svg {
                        width: rem(22);
                        height: rem(19);
                    }
                }
            }
        }
    }
}
