@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html:lang(en) {
    .side-menu {
        &__link {
            padding: rem(5);
            font-size: rem(14);
            text-align: center;
        }
    }
}

.sitemap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
        .sitemap__inner {
            transform: translateX(0);
        }
    }
    &__inner {
        width: 100%;
        height: 100%;
        max-width: rem(481);
        display: flex;
        flex: 1;
        background-color: $color-white;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
    &__side {
        width: rem(70);
        padding-top: rem(70);
        border-right: 1px solid #dddddd;
    }
    &__content {
        width: calc(100% - rem(70));
        height: 100%;
        &-top {
            display: flex;
            justify-content: flex-end;
        }
        &-body {
            height: calc(100% - rem(70));
            padding: rem(40) rem(20);
            background-color: #f7f7f7;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.side-menu {
    &__item {
        border-bottom: 1px solid #dddddd;
        &:first-child {
            border-top: 1px solid #dddddd;
        }
    }
    &__link {
        width: 100%;
        height: rem(70);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(8) 0;
        font-family: $font-nanum-square;
        font-weight: 700;
        font-size: rem(16);
        line-height: 1;
        color: $color-black;
        transition: color 0.3s ease;
        &:hover {
            color: $color-primary;
        }
        img {
            width: rem(24);
        }
    }
}

.sitemap-list--depth-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 0 rem(20);
    & > .sitemap-list__item {
        width: calc(50% - rem(10));
        & > .sitemap-list__link {
            display: block;
            padding: rem(10) 0;
            border-bottom: 1px solid #333333;
            font-family: $font-nanum-square;
            font-weight: 700;
            font-size: rem(20);
            line-height: lh(30);
            color: $color-black;
            transition: color 0.3s ease;
            &:hover {
                color: $color-primary;
            }
        }
    }
}
.sitemap-list--depth-2 {
    & > .sitemap-list__item {
        & > .sitemap-list__link {
            display: block;
            padding: rem(8) rem(10) rem(8) 0;
            border-bottom: 1px solid #b6b6b6;
            background-image: url(../images/sitemap-arrow.png);
            background-size: rem(4);
            background-position: 100% 50%;
            background-repeat: no-repeat;
            font-family: $font-nanum-square;
            font-size: rem(16);
            line-height: lh(26);
            color: #b6b6b6;
            transition: color 0.3s ease;
            &:hover {
                color: $color-black;
            }
        }
    }
}
.sitemap-list--depth-3 {
    & > .sitemap-list__item {
        & > .sitemap-list__link {
            display: block;
            padding: rem(8) rem(15);
            border-bottom: 1px solid #b6b6b6;
            font-family: $font-nanum-square;
            font-size: rem(14);
            line-height: lh(24);
            color: #b6b6b6;
            transition: color 0.3s ease;
            &:hover {
                color: $color-black;
            }
        }
    }
}

@media (max-width: 768px) {
    html:lang(en) {
        .side-menu {
            &__link {
                font-size: rem(12);
            }
        }
    }

    .sitemap {
        &__inner {
            max-width: rem(261);
        }
        &__side {
            width: rem(60);
            padding-top: rem(50);
        }
        &__content {
            width: calc(100% - rem(60));
            &-body {
                height: calc(100% - rem(60));
                padding: rem(30) rem(20);
            }
        }
    }

    .side-menu {
        &__link {
            height: rem(60);
            align-items: center;
            gap: rem(4) 0;
            font-size: rem(12);
            img {
                width: rem(18);
            }
        }
    }

    .sitemap-list--depth-1 {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        & > .sitemap-list__item {
            width: 100%;
            & > .sitemap-list__link {
                padding: rem(8) 0;
                font-size: rem(18);
                line-height: lh(28);
            }
        }
    }
    .sitemap-list--depth-2 {
        & > .sitemap-list__item {
            & > .sitemap-list__link {
                padding: rem(6) rem(10) rem(6) 0;
                font-size: rem(14);
                line-height: lh(24);
            }
        }
    }
    .sitemap-list--depth-3 {
        & > .sitemap-list__item {
            & > .sitemap-list__link {
                padding: rem(6) rem(10);
                font-size: rem(12);
                line-height: lh(22);
            }
        }
    }
}

@media (max-height: 370px) {
    .sitemap {
        &__side {
            display: none;
        }
        &__content {
            width: 100%;
        }
    }
}
