@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.conts-antiquity {
    display: flex;
    .conts__bg {
        width: rem(250);
    }
    .conts__body {
        flex: 1;
    }
}

.border-row {
    padding: rem(35) 0;
    border-bottom: 2px solid #555555;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom: none;
    }
    &__title {
        margin-bottom: rem(20);
        font-size: rem(18);
        line-height: lh(28);
        color: $color-primary;
    }
    &__content {
        font-size: rem(14);
        line-height: lh(24);
        & ~ .img-list {
            margin-top: rem(20);
        }
    }

    .img-list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(15);
        &__inner {
            width: rem(240);
            height: rem(180);
            display: block;
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                width: rem(26);
                height: rem(26);
                background-image: url(../images/sub/search-rect.png);
                background-size: rem(26);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: calc(100% - rem(36));
                right: rem(10);
                z-index: 5;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                transition: all 0.3s ease;
            }
        }
    }
}

@media (max-width: 1120px) {
    .conts-antiquity {
        flex-direction: column;
        gap: rem(50) 0;
        .conts__bg {
            width: 100%;
        }
        .conts__body {
            flex: auto;
        }
    }
}
