@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.conts-history {
    display: flex;
    gap: rem(50) rem(20);
    .conts__bg {
        width: rem(220);
        flex-shrink: 0;
        img {
            width: rem(196);
        }
    }
    .conts__body {
        flex: 1;
        border-top: 1px solid $color-black;
    }
}

.history-list {
    &__item {
        display: flex;
        padding: rem(30) 0;
        border-bottom: 1px solid #e6e3e0;
        &:last-child {
            border-bottom: none;
        }
        b {
            font-weight: 700;
        }
        & > .content-list {
            margin-top: rem(4);
            .content-list__item {
                font-size: rem(14);
                line-height: lh(22);
                margin-bottom: rem(6);
            }
        }
    }
    &__title {
        width: rem(85);
        flex-shrink: 0;
        font-weight: 700;
        font-size: rem(28);
        line-height: 1;
    }
    .date-list {
        margin-top: rem(6);
        &__item {
            display: flex;
            font-size: rem(14);
            line-height: lh(18);
        }
        &__title {
            width: rem(190);
            flex-shrink: 0;
            color: $color-primary;
        }
        .content-list {
            flex: 1;
            &__item {
                margin-bottom: rem(8);
            }
        }
    }
}

@media (max-width: 1120px) {
    .conts-history {
        flex-direction: column;
        .conts__bg {
            width: 100%;
        }
        .conts__body {
            flex: auto;
        }
    }
}

@media (max-width: 768px) {
    .conts-history {
        gap: rem(30) 0;
        .conts__bg {
            img {
                width: rem(150);
            }
        }
    }

    .history-list {
        &__item {
            flex-direction: column;
            padding: rem(20) 0;
            & > .content-list {
                margin-top: rem(4);
                .content-list__item {
                    font-size: rem(14);
                    line-height: lh(22);
                    margin-bottom: rem(6);
                }
            }
        }
        &__title {
            width: 100%;
            flex-shrink: initial;
            font-size: rem(22);
        }
        .date-list {
            margin-top: rem(19);
            &__title {
                width: rem(160);
            }
        }
    }
}

@media (max-width: 450px) {
    .history-list {
        .date-list {
            &__item {
                flex-direction: column;
                margin-bottom: rem(10);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &__title {
                width: 100%;
                margin-bottom: rem(8);
            }
        }
    }
}
