@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.conts-introduce {
    &.conts--tabs {
        .conts__body-inner {
            display: none;
            &.active {
                display: block;
            }
        }
        .conts__bottom {
            display: none;
            &.active {
                display: flex;
            }
        }
    }
    .conts-tab {
        display: flex;
        gap: 0 1px;
        margin-bottom: rem(35);
        border: 1px solid #e3e3e3;
        &__item {
            flex: 1;
            position: relative;
            &:not(:last-child) {
                &::after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: #e3e3e3;
                    position: absolute;
                    top: 0;
                    right: -1px;
                }
            }
        }
        &__link {
            display: block;
            padding: rem(18) rem(20);
            background-color: #fbfbfc;
            font-size: rem(16);
            text-align: center;
            color: #aaa;
            position: relative;
            transition: all 0.3s ease;
            &::after {
                content: "";
                width: 100%;
                height: rem(2);
                background-color: transparent;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            &:hover {
                color: $color-black;
            }
            &.active {
                background-color: $color-white;
                color: $color-black;
                &::after {
                    background-color: $color-primary;
                }
            }
        }
    }
    .img-list {
        max-width: rem(760);
        display: flex;
        gap: rem(20);
        margin: 0 auto rem(30);
        &__item {
            width: rem(240);
            img {
                display: block;
            }
        }
    }
    .img-list--1 {
        max-width: rem(760);
        display: flex;
        gap: rem(30) rem(20);
        padding-bottom: rem(30);
        margin: 0 auto rem(30);
        border-bottom: 1px solid #eaeaea;
        .img-list__item {
            width: rem(240);
            text-align: center;
        }
        .img-list__thumb {
            margin-bottom: rem(20);
            img {
                display: block;
            }
        }
        .img-list__title {
            margin-bottom: rem(5);
            font-size: rem(18);
            line-height: lh(28);
            color: $color-primary;
        }
        .img-list__desc {
            font-size: rem(14);
            line-height: lh(24);
        }
    }
    .conts-row {
        margin-bottom: rem(45);
        &:last-child {
            margin-bottom: 0;
        }
        .conts-row__summary {
            margin-bottom: rem(30);
            font-size: rem(14);
            line-height: lh(24);
        }
        .conts-row__title {
            margin-bottom: rem(10);
            font-size: rem(20);
            line-height: lh(30);
        }
        .conts-row__content {
            font-size: rem(14);
            line-height: lh(24);
        }
        .table-wrap,
        .border-list,
        .border-list--1 {
            & ~ .conts-row__content {
                margin-top: rem(15);
            }
        }
    }
    .conts__bottom {
        display: flex;
        justify-content: center;
        gap: 0 rem(6);
        padding-top: rem(35);
    }
    .border-list {
        &--1 {
            border-top: rem(2) solid #444444;
            .border-list__item {
                display: flex;
                gap: 0 rem(1);
                padding: rem(15) 0;
                font-size: rem(14);
                line-height: lh(24);
                border-bottom: 1px solid #eaeaea;
                &.border-list__item--last-before,
                &.border-list__item--last {
                    border-bottom-color: #444444;
                }
            }
            .border-list__title {
                width: rem(150);
                flex-shrink: 0;
                color: $color-primary;
                position: relative;
                &::after {
                    content: "";
                    width: rem(1);
                    height: rem(14);
                    background-color: #eaeaea;
                    position: absolute;
                    top: rem(5);
                    right: -1px;
                }
            }
            .border-list__content {
                flex: 1;
                padding: 0 rem(15);
                a {
                    font-size: rem(14);
                    line-height: lh(24);
                    color: $color-black;
                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: rem(2);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .conts-introduce {
        .conts-tab {
            margin-bottom: rem(25);
            &__link {
                padding: rem(13) rem(15);
                font-size: rem(14);
            }
        }
        .img-list {
            flex-direction: column;
            align-items: center;
            gap: rem(15) 0;
            margin: 0 auto rem(20);
        }
        .img-list--1 {
            flex-direction: column;
            align-items: center;
            gap: rem(20);
            padding-bottom: rem(20);
            margin: 0 auto rem(20);
            .img-list__thumb {
                margin-bottom: rem(15);
            }
            .img-list__title {
                margin-bottom: 0;
                font-size: rem(16);
                line-height: lh(26);
            }
        }
        .conts-row {
            margin-bottom: rem(35);
            .conts-row__summary {
                margin-bottom: rem(20);
                br {
                    display: none;
                }
            }
            .conts-row__title {
                font-size: rem(18);
                line-height: lh(28);
            }
            .table-wrap,
            .border-list,
            .border-list--1 {
                & ~ .conts-row__content {
                    margin-top: rem(10);
                }
            }
            .table-wrap {
                overflow: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                .table-border--1 {
                    min-width: rem(540);
                }
            }
        }
        .conts__bottom {
            flex-direction: column;
            justify-content: initial;
            gap: rem(6) 0;
            padding-top: rem(25);
            .btn {
                width: fit-content;
            }
        }
        .border-list {
            &--1 {
                border-top: rem(2) solid #444444;
                .border-list__item {
                    flex-direction: column;
                    gap: rem(10) 0;
                    padding: rem(15) 0;
                }
                .border-list__title {
                    width: 100%;
                    flex-shrink: initial;
                    &::after {
                        display: none;
                    }
                }
                .border-list__content {
                    flex: auto;
                    padding: 0;
                }
            }
        }
    }
}
