@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
.conts-viewing {
    position: relative;
}
.viewing__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.viewing-list {
    border-top: rem(2) solid #555;
    border-bottom: 1px solid #555;
    padding: rem(35) rem(20) rem(40);
    &__item {
        margin-bottom: rem(45);
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__top {
        margin-bottom: rem(20);
    }
    &__title {
        display: inline-block;
        font-size: rem(20);
        line-height: lh(30);
        padding-bottom: rem(5);
        border-bottom: rem(2) solid #938776;
    }
    &__content {
        margin-bottom: rem(35);
        font-size: rem(14);
        line-height: lh(24);
    }
    &__btn-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: rem(6);
    }
    .content-list {
        margin-top: rem(-6);
        &__item {
            display: flex;
            font-size: rem(14);
            line-height: lh(26);
        }
        &__title {
            width: rem(90);
            color: $color-primary;
        }
        &__desc {
            flex: 1;
        }
    }
}
