@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
.conts-viewing {
    position: relative;
}
.viewing__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.viewing-list {
    border-top: rem(2) solid #555;
    border-bottom: 1px solid #555;
    padding: rem(35) rem(20) rem(40);
    &__item {
        margin-bottom: rem(45);
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__top {
        margin-bottom: rem(20);
    }
    &__title {
        display: inline-block;
        font-size: rem(20);
        line-height: lh(30);
        .bd-bottom {
            display: inline-block;
            padding-bottom: rem(5);
            border-bottom: rem(2) solid #938776;
        }
    }
    &__content {
        margin-bottom: rem(35);
        font-size: rem(14);
        line-height: lh(24);
    }
    &__btn-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: rem(6);
    }
    .content-list {
        margin-top: rem(-6);
        &__item {
            display: flex;
            font-size: rem(14);
            line-height: lh(26);
        }
        &__title {
            width: rem(90);
            color: $color-primary;
        }
        &__desc {
            flex: 1;
        }
    }
}

@media (max-width: 768px) {
    .viewing__bg {
        img {
            width: rem(200);
        }
    }
    .viewing-list {
        padding: rem(25) rem(10) rem(30);
        &__item {
            margin-bottom: rem(25);
        }
        &__top {
            margin-bottom: rem(15);
        }
        &__title {
            display: inline-block;
            font-size: rem(18);
            line-height: lh(28);
        }
        &__content {
            margin-bottom: rem(25);
        }
        .content-list {
            margin-top: rem(-6);
            &__item {
                display: flex;
                font-size: rem(14);
                line-height: lh(26);
            }
            &__title {
                width: rem(90);
                color: $color-primary;
            }
            &__desc {
                flex: 1;
            }
        }
    }
}
