// base
@use "base/reset" as *;
@use "base/font" as *;
@use "base/typography" as *;
@use "base/base" as *;

// layout
@use "layout/header" as *;
@use "layout/body" as *;
@use "layout/footer" as *;
@use "layout/sitemap" as *;

// components
@use "components/button" as *;
@use "components/table" as *;
@use "components/modal" as *;
@use "components/alert" as *;
@use "components/label" as *;
@use "components/pagination" as *;
@use "components/af-file" as *;

// pages
@use "pages/main/main" as *;
@use "pages/sub/sub-common" as *;

@use "pages/sub/greeting" as *;
@use "pages/sub/history" as *;
@use "pages/sub/organization" as *;
@use "pages/sub/facility" as *;
@use "pages/sub/operation" as *;
@use "pages/sub/viewing" as *;
@use "pages/sub/location" as *;
@use "pages/sub/laboratory" as *;
@use "pages/sub/antiquity" as *;
@use "pages/sub/investigation-history" as *;
@use "pages/sub/series" as *;
@use "pages/sub/sub-introduce" as *;
@use "pages/sub/sites" as *;

// board
@use "pages/board/common" as *;
@use "pages/board/default-list" as *;
@use "pages/board/default-read" as *;
@use "pages/board/square-list" as *;
@use "pages/board/gallery-list" as *;
@use "pages/board/slide-list" as *;
